html {
  position: relative;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: $main-font-family;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  color: $main-color; /*цвет под ваш проект*/
  background-color: $main-bg-color; /*цвет под ваш проект*/
}

img,
svg {
  max-width: 100%;
  height: auto;
}

button {
  padding: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
}

iframe {
  border: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.page {
  &__body {
    overflow-x: hidden;
  }
}

.container {
  margin: 0 auto;
  padding: 0 $container-offset;
  max-width: $container-width;
}
