// Типографика
$main-font-family: "Muller";
$main-font-size: 14px;
$main-line-height: 100%;
$main-bg-color: #131517;;
$main-color: #fff;

// Размеры контейнера
$content-width: 1800px;
$container-offset: 15px;
$container-width: calc($content-width + ($container-offset) * 2);

// Брейк-поинты
$desktop: 1600px;
$laptop: 1200px;
$tablet: 1000px;
$small-tablet: 800px;
$mobile: 560px;
